<div class="head">
        &nbsp;
    <h1>Questions?</h1>
    <h3>Get Ahold of Us! </h3>
    <hr>
</div>


<div class="phone">
   <h4><i class="material-icons">call</i> (65) 3325-0847</h4>
</div>
&nbsp;
&nbsp;
&nbsp;
<div class="message">
        <h4><i class="material-icons">chat</i> (65) 99800-0265</h4>
</div>
&nbsp;
&nbsp;
&nbsp;
<div class="email">
        <h4><i class="material-icons">email</i> PrimePapel@Outlook.com.br</h4>
</div>
&nbsp;
&nbsp;
&nbsp;
<div class="address">
        <h4><i class="material-icons">place</i> Av. Brazil, 2407-S-Jd. Cidade Alta </h4>
       <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;78.300-000 - Tangara da Serra - MT</h4>
</div>
