<h1>Your cart</h1>

<div>
  <mat-table #table [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef class="matColumnSize"></mat-header-cell>
      <mat-cell *matCellDef="let cartitem" routerLink="/products/delete/{{product.productEntityId}}">
        <i class="material-icons">delete</i>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Picture">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let cartitem">picture (to-do)</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ProductName">
      <mat-header-cell *matHeaderCellDef>Product</mat-header-cell>
      <mat-cell *matCellDef="let cartitem">{{product.productName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Quantity">
      <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
      <mat-cell *matCellDef="let cartitem">{{cartitem.Quantity}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Price">
      <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
      <mat-cell *matCellDef="let cartitem">{{product.price}}</mat-cell>
    </ng-container>
  </mat-table>
</div>