&nbsp;
<h1>Your Cart</h1>
<hr>

<div>
  <mat-table #table [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>
    
    <ng-container matColumnDef="ProductName">
      <mat-header-cell *matHeaderCellDef>Product Name</mat-header-cell>
      <mat-cell *matCellDef="let cartItem">{{cartItem.productName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Price">
      <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
      <mat-cell *matCellDef="let cartItem">${{cartItem.price}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="Quantity">
      <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
      <mat-cell *matCellDef="let cartItem">{{cartItem.quantity}}</mat-cell>
    </ng-container>   

    <ng-container matColumnDef="Decrement">
      <mat-header-cell *matHeaderCellDef class="matColumnSize"></mat-header-cell>
      <mat-cell *matCellDef="let cartItem" (click)="onEdit(cartItem.cartEntityId, cartItem.quantity - 1)">
        <button class="incogBtn"><i class="material-icons">remove</i></button>
      </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="Increment">
      <mat-header-cell *matHeaderCellDef class="matColumnSize"></mat-header-cell>
      <mat-cell *matCellDef="let cartItem" (click)="onEdit(cartItem.cartEntityId, cartItem.quantity + 1)">
        <button class="incogBtn"><i class="material-icons">add</i></button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Delete">
      <mat-header-cell *matHeaderCellDef class="matColumnSize"></mat-header-cell>
      <mat-cell *matCellDef="let cartItem" (click)="onDelete(cartItem.cartEntityId)">
        <button class="incogBtn"><i class="material-icons">delete</i></button>
      </mat-cell>
    </ng-container>

  </mat-table>
</div>

<div *ngIf="subtotal">
  <div>Subtotal: ${{subtotal}}</div>
</div>
&nbsp;
<button class="btn-alt" routerLink="/">
  <div class="eff-alt"></div>
  <span>Place Order</span>
</button>