<div class="head">
  &nbsp;
  <h1>Welcome!</h1>
  <h3>Create a New Account</h3>
</div>
<hr>

<form (ngSubmit)="onSubmit()" [formGroup]="_contactForm">
  <div class="formContainer">
      <div>
        <mat-form-field color="primary">
        <input matInput placeholder="First Name" formControlName="firstName" type="firstName"  required>
      </mat-form-field> 
    &nbsp;
        <mat-form-field>
          <input matInput placeholder="Last Name" formControlName="lastName" type="lastName" required>
        </mat-form-field>
      </div>
      &nbsp;
    <div>
      <mat-form-field>
        <input matInput placeholder="Company" formControlName="companyName" type="companyName" >
      </mat-form-field>
    &nbsp;
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" type="email" required>
      </mat-form-field>
      &nbsp;
      <mat-form-field>
        <input matInput placeholder="Phone Number" formControlName="phone" type="phone" required>
      </mat-form-field>
    </div>
    &nbsp;
    <div>
      <mat-form-field>
        <input matInput placeholder="Street Address" formControlName="streetAddress" type="streetAddress" required>
      </mat-form-field>
    &nbsp;
      <mat-form-field>
        <input matInput placeholder="City" formControlName="city" type="city" required>
      </mat-form-field>
    &nbsp;
      <mat-form-field>
        <input matInput placeholder="State" formControlName="state" type="state" required>
      </mat-form-field>
    </div>
    &nbsp;
    <div>
      <mat-form-field>
        <input matInput placeholder="Postal Zip Code" formControlName="zip" type="zip" required>
      </mat-form-field>
    </div>
    &nbsp;
  </div>
  
  <button class="btn-1" type="submit">
      <div class="eff"></div>
      <span>Sign up!</span>
    </button>