<mat-toolbar color="primary">
  <a id="logoText" class="navbar-brand" href="#">
    <img src="..\assets\img\PrimePaperLogo.png" width="35" height="35"  class="d-inline-block align-top" alt="">
    Prime Paper
  </a>
  
  <span class="example-fill-remaining-space"></span>
  <button class="btn-1" routerLink="/about">
    <div class="eff"></div>
    <span >About</span>
  </button>
  &nbsp;
  <button class="btn-alt" routerLink="/products">
    <div class="eff-alt"></div>
    <span>Products</span>
  </button>
  &nbsp;
  <button class="btn-1" routerLink="/cart">
    <div class="eff"></div>
    <span>Cart</span>
  </button>
  &nbsp;
    <button *ngIf="authed; else auth " class="btn-alt" (click)="onLogout()" routerLink="/">
      <div class="eff-alt"></div>
      <span>Logout</span>
    </button>
  <ng-template #auth>
      <button class="btn-alt" routerLink="/register">
        <div class="eff-alt"></div>
        <span>Login/Register</span>
      </button>
</ng-template>

</mat-toolbar>