<h1>Create a Product.</h1>
<hr>

<form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="productForm">
  <div>
    <div>
      <mat-form-field>
        <input matInput placeholder="ProductName" formControlName="ProductName" type="ProductName" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Description" formControlName="Description" type="Description" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Price" formControlName="Price" type="Price" required/>
      </mat-form-field>
    </div>
  </div>
  <button class="btn-1" type="submit"><div class="eff"></div><span>Update</span></button>
  &nbsp;
  <button class="btn-alt" routerLink="/products"><div class="eff-alt"></div><span>Back to List</span></button>
</form>
