#bigLogoText{
    background: none;
    font-family: 'Contrail One', cursive;
    font-size: 625%;
    color: #002080;
    padding-top: 25px

}
#mainLogo{
    padding-bottom: 27px;
    height: 17%;
    width: 17%;
}

.container{
    width: 60%;
    height: 60%;
}

.carousel-caption{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    background: rgba(48, 48, 48, 0.65);
    font-size: 75%;
    
    display: inline;
    padding: 0.5rem;
  
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

