<div class="container">
  <h1 id="bigLogoText" class="display-4"><img class="grow" src="..\assets\img\PrimePaperLogo.png" id="mainLogo">Prime Paper</h1>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a routerLink="/products">
            <img class="d-block w-100" src="..\assets\img\Praiminho.png" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Praiminho</h5>
                <p>Our New Line of A4 paper intendend for Children.</p>
              </div>
            </a>        </div>
        <div class="carousel-item">
          <a routerLink="/contactUs">
            <img class="d-block w-100" src="..\assets\img\DDoors.png" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Questions?</h5>
                <p>Get ahold of us at our main office.</p>
              </div>
          </a>
        </div>
        <div class="carousel-item">
          <a routerLink="/about">
            <img class="d-block w-100" src="..\assets\img\howitsmade.png" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>How It's Made</h5>
                <p>Head to our about page for a behind the scenes look.</p>
              </div>
          </a>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</div>