<h1>Products</h1>

<div>
  <mat-table #table [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>
    
    <ng-container matColumnDef="ProductName">
      <mat-header-cell *matHeaderCellDef> Product Name</mat-header-cell>
      <mat-cell *matCellDef="let product">{{product.ProductName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Decription">
        <mat-header-cell *matHeaderCellDef> Description</mat-header-cell>
        <mat-cell *matCellDef="let product">{{product.Description}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="Price">
        <mat-header-cell *matHeaderCellDef> Price</mat-header-cell>
        <mat-cell *matCellDef="let product">{{product.Price}}</mat-cell>
      </ng-container>

    
  </mat-table>
</div>