<div class="head">
  &nbsp;
<h1>Products</h1>
<button class="btn-1" type="submit" routerLink="/products/create">
  <div class="eff"></div>
  <span>Create New Product</span>
</button>
<hr>
</div>

<div>
  <mat-table #table [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

    <ng-container matColumnDef="details">
      <mat-header-cell *matHeaderCellDef class="matColumnSize"></mat-header-cell>
      <mat-cell *matCellDef="let product" routerLink="/products/details/{{product.productEntityId}}">
        <i class="material-icons">
          library_books
        </i>
      </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef class="matColumnSize"></mat-header-cell>
      <mat-cell *matCellDef="let product" routerLink="/products/edit/{{product.productEntityId}}">
        <i class="material-icons">edit</i>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef class="matColumnSize"></mat-header-cell>
        <mat-cell *matCellDef="let product" routerLink="/products/delete/{{product.productEntityId}}">
          <i class="material-icons">delete</i>
        </mat-cell>
      </ng-container>

    <ng-container matColumnDef="ProductName">
      <mat-header-cell *matHeaderCellDef> Product Name</mat-header-cell>
      <mat-cell *matCellDef="let product">{{product.productName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Description">
      <mat-header-cell *matHeaderCellDef> Description</mat-header-cell>
      <mat-cell *matCellDef="let product">{{product.description}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Price">
      <mat-header-cell *matHeaderCellDef> Price</mat-header-cell>
      <mat-cell *matCellDef="let product">${{product.price}}</mat-cell>
    </ng-container>


  </mat-table>
</div>
