&nbsp;
<h1>Delete</h1>
<h3>Are you sure you want to delete the product?</h3>

<hr>
<div *ngIf="product">
    <div hidden>
      <label for="">Product ID</label>
      <span> {{product.productEntityId}}</span>
    </div>
    <div>
      <label  for="">Product Name:&nbsp;</label>
      <span> {{product.productName}}</span>
    </div>
    <div>
      <label  for="">Description:&nbsp;</label>
      <span> {{product.description}}</span>
    </div>
    <div>
      <label for="">Price:&nbsp;</label>
      <span> ${{product.price}}</span>
    </div>
    <div hidden>
      <label for="">CreatedUTC</label>
      <span> {{product.createdUtc}}</span>
    </div>
    <div hidden>
      <label for="">ModifiedUTC</label>
      <span> {{product.modifiedUtc}}</span>
    </div>
  
  </div>
  
    <button class="btn-1" (click)="onDelete()"><div class="eff"></div><span>Delete</span></button>
    &nbsp;
    <button class="btn-alt" routerLink="/products"><div class="eff-alt"></div><span>Back to List</span></button>