&nbsp;
<h1>About Us</h1>
<hr>
<iframe width="560" height="315" src="https://www.youtube.com/embed/IVBKhxhayoM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div class="container">
  <p> 
    Prime Paper is a manufacturer of family owned and operated paper products. Prime Paper gives retailers the opportunity to extend the reach of their own branded paper categories with highly innovative products and a responsive, service-oriented management team. Our Increment Program will allow you to maximize the profits of your paper section, as well as improve your product image and price.
    Founded in Tangara da Serra, Mato Grosso, Brazil, in 2018.
    Our Philosophy
    We are committed to achieving continued growth by manufacturing the quality products needed to compete with national brands while providing the highest levels of service and integrity.
  </p>
</div>