<div class="head">
  &nbsp;
<h1>Details</h1>
<hr>
</div>

<div *ngIf="product">
  <div hidden>
    <label  for="">Product ID</label>
    <span> {{product.productEntityId}}</span>
  </div>
  <div>
    <label  for="">Product:&nbsp;</label>
    <span> {{product.productName}}</span>
  </div>
  &nbsp;
  <div>
    <label for="">Description:&nbsp;</label>
    <span> {{product.description}}</span>
  </div>
  &nbsp;
  <div>
    <label for="">Price:&nbsp;</label>
    <span> ${{product.price}}</span>
  </div>
  <div hidden>
    <label for="">Created At</label>
    <span> {{product.createdUtc | date: 'fullDate'}}</span>
  </div>
  <div hidden>
    <label for="">Modified At</label>
    <span> {{product.modifiedUtc | date: 'fullDate'}}</span>
  </div>

</div>
&nbsp;
<div>
<button class="btn-1" (click)="addToCart(product.productEntityId)" routerLink="/cart"><div class="eff"></div><span>Add to Cart</span></button>
&nbsp;
<button class="btn-alt" routerLink="/products"><div class="eff-alt"></div><span>Back to List</span></button>
</div>