<div class="head">
  &nbsp;
  <h1>Meet The Team</h1>
</div>
<hr>

<div class="card-group" id="cards">
    <div class="card">
        <img src="/assets/img/edson.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Edson Silva</h5>
          <p class="card-text">.Net Core and Angular 7</p>
        </div>
        <div class="card-body">
          <a target="_blank" href="https://edycarlos018.github.io/" class="card-link">Portfolio</a>
          <a target="_blank" href="https://www.linkedin.com/in/edson-silva-298597b2/" class="card-link">LinkedIn</a>
      </div>
    </div>
    &nbsp;
    &nbsp;
    <div class="card">
        <img src="/assets/img/stephen.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Stephen Center</h5>
          <p class="card-text">.Net Core and Angular 7</p>
        </div>
        <div class="card-body">
          <a target="_blank" href="https://stephencenter.github.io/" class="card-link">Portfolio</a>
          <a target="_blank" href="https://www.linkedin.com/in/stephenbcenter/" class="card-link">LinkedIn</a>
      </div>
    </div>
    &nbsp;
    &nbsp;
    <div class="card">
        <img src="/assets/img/aidan.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Aidan Vandiver</h5>
          <p class="card-text">Angular 7 and .Net Core</p>
        </div>
        <div class="card-body">
          <a target="_blank" href="https://plsaidan.github.io/" class="card-link">Portfolio</a>
          <a target="_blank" href="https://www.linkedin.com/in/aidan-vandiver-ab6320124/" class="card-link">LinkedIn</a>
      </div>
    </div>
  </div>






<!-- <div class="card" id="edson" style="width: 18rem;">
  <img src="/assets/img/edson.jpg" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">Edson Silva</h5>
    <p class="card-text">.Net Core and Angular 7</p>
  </div>
  <div class="card-body">
    <a href="#" class="card-link">Portfolio</a>
    <a href="#" class="card-link">LinkedIn</a>
  </div>
</div>

<div class="card" id="stephen" style="width: 18rem;">
  <img src="/assets/img/stephen.jpg" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">Stephen Center</h5>
    <p class="card-text">.Net Core and Angular 7</p>
  </div>
  <div class="card-body">
    <a href="#" class="card-link">Portfolio</a>
    <a href="#" class="card-link">LinkedIn</a>
  </div>
</div>

<div class="card" id="aidan" style="width: 18rem;">
  <img src="..." class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">Aidan Vandiver</h5>
    <p class="card-text">Angular 7 and .Net Core</p>
  </div>
  <div class="card-body">
    <a href="#" class="card-link">Portfolio</a>
    <a href="#" class="card-link">LinkedIn</a>
  </div>
</div> -->